<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099298813718-20lq29qhf0fera4jak3l9pgt5ea5e5fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099298813718-20lq29qhf0fera4jak3l9pgt5ea5e5fp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1099298813718-mtb7hd8uj8ofo8530umkcorlo0krh454.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtJPOa5EL-ItXSjwlO58LSNraVDOxqXqo</string>
	<key>GCM_SENDER_ID</key>
	<string>1099298813718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.texdroid.TexMess</string>
	<key>PROJECT_ID</key>
	<string>texmess-834dd</string>
	<key>STORAGE_BUCKET</key>
	<string>texmess-834dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099298813718:ios:abcc8e5d0a5014657e0237</string>
</dict>
</plist>